<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Products</title>
</head>
<body>
    <h1>Hello Udo Chan </h1>

    <h3>Showing only Product IDs from query:</h3>

    {% if products %}
        <table border="1" cellspacing="0" cellpadding="8">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product_id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="color:red;">No products found.</p>
    {% endif %}
</body>
</html>
